.page-header {
    text-align: center;
    background-color: lightgreen;
    font-size: 22px;
    border: solid black 1px;
    padding: 15px;
    font-size: 24px;

}
.pages-div{
    text-align: center;
}

.navbar {
    display: flex;
    gap: 10px;
    padding: 5px;
    margin-top: 5px;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    padding: 2px 2px;
    background-color: lightgreen;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #333;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.navbar a:hover {
    background-color: #c0c0ff;
}
